
@using HairSalon.Models;
@{
  Layout = "_Layout";
}

<h1>Employee</h1>
<h2>Employee Name: @Model["employee"].GetEmployee()</h2>
@if (Model["client"].Count != 0)
{
  <h4>This employee has these clients:</h4>
  <ul>
    @foreach (var client in Model["client"])
    {
      <li>@client.GetClient()</li>
    }
  </ul>
}

@if (Model["employeeSpecialties"].Count != 0)
{
  <h4>This employee has these specialties:</h4>
  <ul>
    @foreach (var specialty in Model["employeeSpecialties"])
    {
      <li>@specialty.GetSpecialty()</li>
    }
  </ul>
}

<h4>Add a client to this employee:</h4>
<form action='/employee/@Model["employee"].GetEmployeeId()/client/new' method='post'>
  <label for='employee-id'>Select a client</label>
  <select id='employee-id' name='client-id' type='text'>
    @foreach (var client in @Model["allClient"])
    {
      <option value='@client.GetClientId()'>@client.GetClient()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>

<h4>Add a specialty to this employee:</h4>
<form action='/employee/@Model["employee"].GetEmployeeId()/specialty/new' method='post'>
  <label for='specialty-id'>Select a specialty</label>
  <select id='specialty-id' name='specialty-id' type='text'>
    @foreach (var specialty in @Model["allSpecialties"])
    {
      <option value='@specialty.GetId()'>@specialty.GetSpecialty()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>

<p><a href="/client/">Return to Client List</a></p>
<p><a href="/employee/@Model["employee"].GetEmployeeId()/update">Edit employee</a></p>
<p><a href="/employee/@Model["employee"].GetEmployeeId()/delete">Delete employee</a></p>
<p><a href="/">Return to Main Page</a></p>